body {
    background-image: url("https://i.pinimg.com/originals/d2/44/c3/d244c3fae9ee68039d99003e24c3316e.jpg");
    background-size: 100% 100%;
}

h1 {
    text-align: center;
    margin-top: 80px;
    color: orange;
    font-size: 4vw;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    text-align: center;
    color: orange;
    font-size: 1.5vw;
}

#survey-form {
    padding: 50px;
    color: orange;
    background-color: black;
    border-radius: 20px;
    width: 45%;
    margin: auto;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5vw;
    line-height: 1.5em;
    opacity: 0.8;
}

#name,
#email,
#number,
textarea {
    width: 40vw;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: rgb(8, 0, 0);
    box-shadow: 5px 5px 5px red;
    color: white;
}

#dropdown {
    width: 40vw;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: rgb(8, 0, 0);
    box-shadow: 5px 5px 5px red;
    color: white;
}

#submit {
    width: 40vw;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: rgb(8, 0, 0);
    box-shadow: 5px 5px 5px red;
    color: rgb(5, 255, 5);
    text-shadow: 5px 5px 10px red;
    font-size: 2vw;
    font-weight: 900;
    letter-spacing: 2vw;
}